<ion-view view-title="Work">

    <ion-content ng-controller="WorkCtrl">

        <div class="row">
            <div class="col col-75">
                <input type="text" ng-model="newWork" placeholder="Enter a new task...">
            </div>
            <div class="col text-right">
                <button class="button button-outline button-balanced" ng-click="addTask()">Add</button>
            </div>
        </div>

        <div class="list">
            <div class="item item-button-right" ng-repeat="task in tasks track by $index" ng-show="task != undefined">
             <ion-checkbox ng-model="task.isChecked" ng-change="foo($index)">

                    {{task.work}}

            </ion-checkbox>

                <button class="button button-assertive" ng-click="removeTask(task)"><i class="icon ion-close-round"></i>
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
